
<div>
  <h1>アイテム詳細</h1>
  <div class="item-details">
    <p><strong>商品名:</strong> <%= @item.name %></p>
    <p><strong>リマインド通知日:</strong> <%= @item.reminder_days_before_end %>日前</p>
    <p><strong>開始日:</strong> <%= @item.start_at.strftime('%Y年%m月%d日') if @item.start_at %></p>
    <p><strong>終了日予定日:</strong> <%= @item.end_at.strftime('%Y年%m月%d日') if @item.end_at %></p>
  </div>

  <div>
    <%= link_to '編集', edit_item_path(@item), class: "btn btn-secondary" %>
    <%= link_to '一覧に戻る', items_path, class: "btn btn-light" %>
    <%= link_to '削除', @item,method: :delete, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-small btn-danger" %>
  </div>
</div>