<header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "交換くん", root_path, id: "logo", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "アイテム一覧", '#', class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "アイテム追加", '#', class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "通知設定", '#', class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

